* {
  box-sizing: border-box;
}
.bm {
  margin: 0 auto;
}
.btm {
  display: table-cell;
  vertical-align: middle;
}
.cb {
  clear: both;
}
.dn {
  display: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.of {
  overflow: hidden;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.title1 {
  width: 100%;
}
.title1 a {
  float: left;
  height: 40px;
  color: #707070;
  font-size: 20px;
  border-bottom: 3px solid #5E95B5;
  margin-right: 20px;
}
.title1 a span {
  font-size: 14px;
}
.title1 a.last {
  float: right;
  margin-right: 0;
  border: none;
}
